@import url("https://fonts.googleapis.com/css?family=Staatliches&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap");

/* -------------------- DEBUG -------------------- */

[debug],
[debug] * {
  outline: solid 1px #9400ff;
  box-shadow: none;
  filter: none;
}

/* -------------------- GLOBAL RULE -------------------- */

:root {
  --black: #1e1e1e;
  --grey: #faf9f5;
  --white: #ffffff;
  --blue: #1c648c;
  --yellow: #ffcc33;
  --orange: #f87624;
  --cement: #7f6e5b;
  --StormDust: #666768;
  --tulipTree: #e8b33c;
  --teak: #bd9968;
}

body {
  font-family: "Staatliches", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
    sans-serif;
  font-size: 24px;
  line-height: 1, 5;
  color: var(--black);
}

a {
  color: var(--StormDust);
  font-family: "staatliches";
  font-size: 15px;
  text-decoration: none;
}

/* ---------------------- NAV ------------------------ */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-family: "Space Mono", monospace;
  background-color: var(--grey);
}

.logo {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-family: black;
  font-family: "Black Ops One";
  opacity: 0.8;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu-items {
  margin-right: 80px;
}

.cart-item {
  position: relative;
  display: flex;
}

.cart-item svg {
  color: var(--StormDust);
}

.count {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  font-size: 8px;
  border-radius: 50%;
}

/* -------------------- HERO -------------------- */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: url("../../nug80mjl.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-title {
  color: var(--teak);
  font-size: 3vw;
  font-weight: bold;
  font-family: "Staatliches";
  opacity: 0.8;
}

/* -------------------- COLLECTION -------------------*/

.section-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.shipping-bar {
  display: flex;
  align-items: center;
  background-color: var(--teak);
  font-family: "Staatliches";
  font-size: 1rem;
}

.shipping-bar p {
  flex: 1;
  text-align: center;
}

.shipping-bar svg {
  display: flex;
}

.section-category {
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  color: var(--StormDust);
  background-color: var(--teak);
  font-size: 1.5rem;
  transform: rotate(-2deg);
  margin-left: 0.5rem;
}

.see-more {
  display: flex;
  align-items: center;
}

.see-more svg {
  margin-left: 0.5rem;
}

.collection-items {
  display: flex;
  margin: 0rem 0;
  padding: 0 4rem;
  overflow-x: auto;
  scrollbar-width: none;
  padding-bottom: 3rem;
}

.collection-item {
  flex: none;
  padding-right: 2rem;
}

.collection-items::-webkit-scrollbar {
  display: none;
}

.collection-item img {
  max-width: 100%;
  width: 300px;
  height: auto;
}

.collection-info {
  text-align: center;
}

.collection-info h3 {
  margin-top: 1.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.collection-info a {
  text-transform: uppercase;
  font-size: 0.8rem;
  border-bottom: 3px solid var(--teak);
}

/* ------------- Objects --------------------*/

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  background-image: url(../../photo-1525468568166-6f2cd17c7ec9.jpeg);
  padding-left: 5.5rem;
  padding-bottom: 10rem;
}

.article h3 {
  display: inline-block;
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  color: var(--StormDust);
  background-color: var(--teak);
  font-size: 1.5rem;
  transform: rotate(-2deg);
  opacity: 0.8;
}

.circle {
  position: absolute;
  right: 10px;
  top: -50px;
  background-color: var(--teak);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  font-size: 15px;
  color: var(--StormDust);
  border-radius: 50%;
  opacity: 0.9;
}

.article-selection {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article-item {
  position: relative;
  margin-bottom: 50px;
  flex: 1 1 10em;
  /* border-style: solid;
  border-width: 4px; */
}

.image-container {
  position: relative;
  width: 350px;
  height: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--teak);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bar-in-object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #bd9968;
  opacity: 0.8;
}

.bar-in-object ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar-in-object li span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--cement);
  border-radius: 50%;
}

.bar-in-object li {
  display: flex;
  font-size: 1.2rem;
  color: var(--StormDust);
  margin: 3px;
}
